/* src/app.css */
.suggestion-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 120px;
  overflow-y: auto;
  z-index: 1;
}

.suggestion {
  padding: 5px;
  cursor: pointer;
}

